<!DOCTYPE html>
<html ng-app="neosApplication">
<head>
	<meta  charset="utf-8">
	<meta name="viewport" content="width=device-width,  initial-scale=1">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- jQuery library -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <style type="text/css">
      .validation{
        color: maroon;
      }

  </style>
</head>

<body ng-controller="neosUserController">
 <!-- < class="container-fluid"Alineado a la izquierda -->
<!-- container = alineado al centro -->
<div  class="container"><!-- Alineado a la izquierda -->
	<h3>Alta de usuarios </h3>
    <p></p>
<div class="row">
<form class="form-horizontal"  name="formUser" novalidate>
  <div class="form-group">
      <label class="control-label col-xs-2">Nombre:</label>
      <div class="col-xs-6">
          <input ng-model="dataUser.name" type="text" class="form-control"   id="name" name="name" placeholder="Nombre" required>
          <div  ng-messages="formUser.name.$error" class="validation">
              <div ng-message="required">El nombre es reqierido</div>
          </div>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-xs-2">Apellido:</label>
      <div class="col-xs-6">
          <input ng-model="dataUser.lastName" type="text" class="form-control"  id="lastName" name="lastName"  placeholder="Apellido" required>
          <div  ng-messages="formUser.lastName.$error" class="validation">
              <div ng-message="required">El apellido es reqierido</div>
          </div>
      </div>
  </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Email:</label>
        <div class="col-xs-4">
            <input  ng-model="dataUser.email" type="text" class="form-control"  id="email" name="email" placeholder="Email" required>
            <div  ng-messages="formUser.email.$error" class="validation">
                <div ng-message="required">El email es reqierido</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Password:</label>
        <div class="col-xs-4">
            <input ng-model="dataUser.password" type="text" class="form-control" id="password" name="password" placeholder="Password" required>
            <div  ng-messages="formUser.password.$error" class="validation">
                <div ng-message="required">El password es reqierido</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-9">
            <label class="checkbox-inline">
                <input type="checkbox" value="agree">  Accepto <a href="#"  data-toggle="modal" data-target="#myModal">Terminos y condiciones</a>.
            </label>
        </div>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terminos y Condiciones</h4>
      </div>
      <div class="modal-body">
       <p>"Adaptation" means a work based upon the Work, or upon the Work and other pre-existing works, such as a translation, adaptation, derivative work, arrangement of music or other alterations of a literary or artistic work, or phonogram or performance and includes cinematographic adaptations or any other form in which the Work may be recast, transformed, or adapted including in any form recognizably derived from the original, except that a work that constitutes a Collection will not be considered an Adaptation for the purpose of this License. For the avoidance of doubt, where the Work is a musical work, performance or phonogram, the synchronization of the Work in timed-relation with a moving image ("synching") will be considered an Adaptation for the purpose of this License.</p>

        <p>"Collection" means a collection of literary or artistic works, such as encyclopedias and anthologies, or performances, phonograms or broadcasts, or other works or subject matter other than works listed in Section 1(f) below, which, by reason of the selection and arrangement of their contents, constitute intellectual creations, in which the Work is included in its entirety in unmodified form along with one or more other contributions, each constituting separate and independent works in themselves, which together are assembled into a collective whole. A work that constitutes a Collection will not be considered an Adaptation (as defined below) for the purposes of this License.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-9">
          <!--
            <input type="submit" class="btn btn-primary" value="Enviar">
          -->
            <button ng-click="addItem()" id="singlebutton" name="singlebutton" class="btn btn-primary">Guardar</button>
            <input type="reset" class="btn btn-default" value="Limpiar">
						  <button ng-click="cambiarItem()" id="cambiarButton" name="cambiarButton" class="btn btn-primary">Cambiar</button>
        </div>
    </div>
</form>
</div>

<p></p>
<h3>Listado de usuarios </h3>
<table class="table table-hover table-striped table-bordered table-responsive">
    <thead>
        <tr  bgcolor="#A4A4A4">
            <th style="width: 5%"><font color="white">Id</font></th>
            <th class="col-md-2"><font color="white">Nombre</font></th>
            <th class="col-md-2"><font color="white">Apellido</font></th>
            <th class="col-md-2"><font color="white">Email</font></th>
            <th class="col-md-2"><font color="white">Password</font></th>
            <th class="col-md-2"><font color="white">Fecha Alta</font></th>
            <th class="col-md-3"><font color="white">Fecha Mod</font></th>
            <th class="col-md-2"><font color="white">Status</font></th>
        </tr>
    </thead>
    <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.iduser}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.createDate}}</td>
            <td>{{user.updateDate}}</td>
            <td>{{user.status==1 ? "ACTIVO" : "INACTIVO"}}</td>
          </tr>
    </tbody>
</table>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>

<script src="index.js"></script>

</body>
</html>
